#inner-header {
    
}

div#menu {
    background-color:#943782;
    color:silver;
    display:flex;
    justify-content: space-between;
    padding-left:3em;
    padding-right:3em;
}

div#menu > a {
    color:silver;
    margin:1em;
    font-size:18px;
    text-decoration:none;
    font-weight:700;
}

div#menu > a:hover {
    color:white;
} 

.retrieved {
    list-style:none;
    margin-bottom:1em;
}

